{% extends 'index_master.html' %}
{% load static %}

{% block title_suffix %} - Editar Planilla Sueldos{% endblock %}

{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>{{ titulo_pagina|default:"Editar Planilla de Sueldos" }}</h3>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-8 col-sm-10 offset-md-2 offset-sm-1">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Datos de la Planilla: {{ planilla }}</h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        {% if messages %}
                            <!-- ... bloque de mensajes ... -->
                        {% endif %}

                        <form method="post" class="form-horizontal form-label-left" novalidate>
                            {% csrf_token %}

                            <!-- Django renderizará todos los campos definidos en el form -->
                            <!-- Los que marcamos como 'disabled' en forms.py se mostrarán bloqueados -->
                            
                            <div class="item form-group mb-3">
                                <label class="col-form-label col-md-3 col-sm-3 label-align">{{ form.mes.label }}</label>
                                <div class="col-md-6 col-sm-6">{{ form.mes }}</div>
                            </div>
                            <div class="item form-group mb-3">
                                <label class="col-form-label col-md-3 col-sm-3 label-align">{{ form.anio.label }}</label>
                                <div class="col-md-6 col-sm-6">{{ form.anio }}</div>
                            </div>
                            <div class="item form-group mb-3">
                                <label class="col-form-label col-md-3 col-sm-3 label-align">{{ form.tipo.label }}</label>
                                <div class="col-md-6 col-sm-6">{{ form.tipo }}</div>
                            </div>

                            <div class="ln_solid"></div>

                            <div class="item form-group mb-3">
                                <label class="col-form-label col-md-3 col-sm-3 label-align">{{ form.estado.label }} <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">{{ form.estado }}</div>
                            </div>
                            <div class="item form-group mb-3">
                                <label class="col-form-label col-md-3 col-sm-3 label-align">{{ form.observaciones.label }}</label>
                                <div class="col-md-6 col-sm-6">{{ form.observaciones }}</div>
                            </div>

                            <div class="ln_solid"></div>
                            <div class="item form-group">
                                <div class="col-md-6 col-sm-6 offset-md-3">
                                    <a href="{% url 'lista_planillas_sueldo' %}" class="btn btn-secondary" type="button">Cancelar</a>
                                    {% if not form.estado.disabled %}
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Guardar Cambios</button>
                                    {% else %}
                                        <button type="submit" class="btn btn-primary" disabled><i class="fa fa-lock"></i> Guardar Cambios</button>
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}